@media screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
}


@media screen and (max-width: 785px) {
    .header_main-menu {
        text-align: center;
    }

    .icon {
        float: none;
    }

    .header_menu {
        float: none;
    }
}

@media screen and (max-width: 670px) {

    .caption_health {
        position: static;
        margin: 0;
        padding: 5px 0;
    }

    .caption_line,
    .caption_health:after {
        display: none;
    }

    .caption_health:before {
        position: static;
        display: inline-block;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {

    .header_menu {
        padding-top: 15px;
    }

    .menu_button {
        display: block;
        background: rgba(0, 0, 0, 0.4);
        color: white;
    }

    .header_menu_item {
        display: block;
        background: rgba(0, 0, 0, 0.2);
    }

    .header_menu_item,
    .header_menu_item:hover,
    .header_menu_item:last-child {
        border: 0;
    }

    .header_menu_list {
        position: absolute;
        visibility: hidden;
        opacity: 0;
    }

    #check:checked+.header_menu_list {
        position: relative;
        visibility: visible;
        opacity: 1;
        transition: all 1s linear;
    }

    .footer {
        text-align: center;
    }

    .footer_menu {
        float: none;
        display: inline-block;
    }

    .footer_button {
        float: none;
    }

    .footer_menu_item {
        display: block;
        margin: 0;
    }

    .footer_menu_link {
        padding: 5px 0;
    }

    .footer_info {
        padding: 15px 0 30px;
    }
} 