@media screen  and (max-width: 1022px) {
    .container {
        padding: 0 10px;
    }
}


@media screen  and (max-width: 785px) {
    .header_main-menu {
        text-align: center;
    }

    .icon {
        float: none;
    }

    .header_menu {
      float: none;
    }
}

@media screen  and (max-width: 670px) {
    
     .caption_health {
        position: static;
        margin: 0;
        padding:  5px 0;
    }

    .caption_line,
    .caption_health:after {
        display: none;
    }

    .caption_health:before {
        position: static;
        display: inline-block;
        margin: 0;

    }
}


@media screen  and (max-width: 599px) {
    
    /*менюшка выпадает*/
    .header_main-menu {
        text-align: center;
    }

    .header_menu {
        padding-top: 15px;
    }

    .menu_button {
        display: inline-block;
        background: rgba(255,255,255, 0.3);
        padding: 0 32px;
        color: white;
     }

    .header_menu_list {
        display:  none;
     
    }

    .header_menu_item {
      background: rgba(255,255,255, 0.1);
      display: block;
    }

    .header_menu_item:last-child {
         border: 1px solid transparent;
    }

    #check:checked + .header_menu_list {
        display:  inline-block;
     
    }

}


@media screen  and (max-width: 589px) {
    
    .footer {
        text-align: center;
    }

    .footer_menu {
        float:  none;
        display: inline-block;
    }

    .footer_button {
        float:  none;
    }

    .footer_menu_item {
        box-shadow: 3px 2px 10px gray;
        border-radius: 3px;
    }

    .footer_menu_item {
        display: block;
        margin: 0;
    }

    .footer_menu_link {
        padding: 5px 0;
    }

    .footer_info {
        padding: 15px 0 30px;
    }
   
}
